templates:
  path: "templates"

repositories:
  default: "huggingface"
  options:
    huggingface:
      url: "https://huggingface.co"
    github:
      url: "https://github.com"
    custom:
      url: "https://custom.git.repo"

datasets:
  supported_formats:
    - csv
    - json
    - jsonl
    - parquet
